.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 18px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}


#top{
	background: linear-gradient(60deg, #62e1d7, #e16295);
}

#middle{
	background: linear-gradient(60deg,  #9198e5, #e66465);
}

#middle2{
	background: linear-gradient(60deg,  #FEF601, #fe9001);
}

#middle3{
	background: linear-gradient(60deg,  #46FE83, #46ECFE);
}

.red-text{
	color: red;
}

p{
	font-family: monospace;
	font-size: 20px;
	color: purple;
	display: block;

}

.thin-red-border{
	border-color: red;
	border-width: 5px;
	border-style: solid;
	border-radius: 30%
}

.gold-background{
	background-color: gold;
}

.thick-silver-border{
	border-color: silver;
	border-width: 7px;
	border-style: solid;
}

#test{
	font-family: Lobster; 
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#img1{
	width: 20em;
	height: 20em;

}

#title{
	font-family: Saira Stencil One;
	text-align: center;
}

