.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 18px; /* Increased font size */
  font-family: monospace;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #FF5733; /* Add an active/current color */
}


#top{
	background: linear-gradient(60deg, #FEF601, #fe9001);
	 padding: 20px;
	 font-family: monospace;
}
/*
This is all stuff for first section with images and paragraph and links
*/
#first{
	display:inline-block;
	font-size: 20px;
	font-family: monospace;
	overflow: auto;
}

#intro{
	text-align: center;
}

#links{
	padding: 40px;
	text-align: center;
	color: #FF5733;
}

#links a:hover{
	color: #FF5760;
}

#linkborder{
	border-color: : #FF5760;
}

/*Course list styles*/
#course-list{
	font-family: monospace;
	border-top-color: #FF5760; 
	border-top-style: dotted;
	border-top-width: 5px;
}

#Mathematics{
	display: inline-block;
	list-style-type: circle;
}

#CS {
	vertical-align: top;
	display: inline-block;
	list-style-type: circle;
}

#middle3{
	background: linear-gradient(60deg,  #46FE83, #46ECFE);
}

.red-text{
	color: red;
}

.thin-white-border{
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-radius: 30%
}

.gold-background{
	background-color: gold;
}

.thick-silver-border{
	border-color: silver;
	border-width: 7px;
	border-style: solid;
}

#test{
	font-family: Lobster; 
}



#img1{
	width: 20em;
	height: 20em;
	margin: 10px;
	float: left;

}

#title{
	/*font-family: Saira Stencil One;*/
	text-align: center;
}

